@font-face {
    
}
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #1d1d2c;
}

.logo {
   color: #ffff;
   letter-spacing: 4px;
   font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;

}

.nav-links li a {

}